.cold_fridge {
  height: 500px;
  width: 100%;
  margin-top: -10px;
  border: 2px solid rgba(0, 0, 0, 0.281);
  border-radius: 8%;
  padding: 20px 20px;
  left: 0;
  top: 0;
  position: absolute;
  background-color: white;
}

.cold {
    font-size: 20px;
  margin-top: -50px;
  position: relative;
}

.cold .buttonFridge {
 
  transform: rotate(45deg);
  height: 40px;
  width: 40px;
  min-width: 0px;
  margin: 2% 92%;
  box-shadow: 0;
  outline: none;
}
.cold .buttonFridge:hover {
    background-color:rgba(0, 0, 0, 0.281);
    border: 1px solid black  ;
}

.cold_fridge_item{
    text-align: center;
    font-weight: 300;
    font-size: 15px;
    padding-top: 1em;
    font-weight: none;
}
