.cold_fridge {
  height: 500px;
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0.281);
  border-bottom-right-radius: 5%;
  border-bottom-left-radius: 5%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 20px 20px;
  left: 0;
  top: 0;
  position: absolute;
  background-color: white;
  margin-top: 57%;
  border-color:   rgb(51, 51, 51);
  position: relative;
}

.cold {
  font-size: 20px;
  z-index: 11;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
  width: 19vw;
  margin-top: 10%;
}

.cold .buttonFridge {
  transform: rotate(45deg);
  height: 40px;
  width: 40px;
  min-width: 0px;
  margin: 2% 92%;
  box-shadow: 0;
  outline: none;
}
.cold .buttonFridge:hover {
  background-color: rgba(0, 0, 0, 0.281);
  border: 1px solid black;
}

.cold_fridge_item {
  text-align: center;
  font-weight: 300;
  font-size: 15px;
  padding-top: 1em;
  font-weight: none;
}
.topOfFridge{
  padding: 20px 20px;
  left: 50%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 250px;
  position: fixed;
  top: 0;
  margin-top: -49px;
  background-color: white;
  transform: translateX(-50%);
  width: 19vw;
  background-color: rgb(26, 26, 26);
  border: 2px solid rgb(194, 194, 194);
}
.doorOfFridge{
  height: 500px;
  width: 100%;
  border: 2px solid rgb(194, 194, 194);
  border-bottom-right-radius: 5%;
  border-bottom-left-radius: 5%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 20px 20px;
  left: 0;
  top: 0;
  position: absolute;
  background-color: white;
  margin-top: 57%;
  font-size: 20px;
  z-index: 12;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
  width: 19vw;
  background-color: rgb(26, 26, 26);
  
}

.openDoor {
  float: right;
  margin-top: 50%;
  background-color: white;
  outline: none;
  border: none;
  height: 40px;
  width: 10px;
}

.closeDoor {
  margin-left: 41%;
  border-radius: 50px;
  margin-top: 15%;
  background-color: rgb(39, 39, 39);
  outline: none;
  border: none;
  height: 37px;
  width: 37px;
  cursor: pointer;
  color: white;
  position: absolute;
  z-index: 20;
}
