body {
    font-family: Arial, Helvetica, sans-serif;
}
body .sosi{
  height: 100vh;
  background-image: url('./background54.png');
  background-repeat: repeat;
}
body .container {
  font-family: Arial, Helvetica, sans-serif;
  width: 1000px;
  padding-top: 10px;
}
.header {
    
  padding-top: 30px;
  height: 80px;
}
.user_GridRight {
  flex-direction: row;
  display: flex;
  justify-content: flex-end;
}
body .user_purpleAvatar {
  margin: 10;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.281);
}
.user_purpleAvatar:hover {
  cursor: pointer;
}
.hidden {
  display: none;
}
.receipe{
  padding: 15px 0;  
}

body .sosi .list{
  max-width: 100%;
}
